$app-bg-color: #494949;
$app-text-color: #fafafa;
$app-accent-color: #ADC698;
$app-card-bg: #D0E3C4;
$app-title-color: #222;
$app-error-color: #c0392b;
$app-error-bg: #fceae9;
$app-error-border: #e74c3c;
$app-info-color: #048A81;