/*$app-bg-color: #494949;
$app-text-color: #fafafa;
$app-accent-color: #ADC698;
$app-card-bg: #D0E3C4;
$app-title-color: #222;
$app-error-color: #c0392b;
$app-error-bg: #fceae9;
$app-error-border: #e74c3c;
$app-info-color: #048A81; bege#f3ede1   verde#7c9a87. #a3472c */

$app-bg-color: #f3ede1;
$app-text-color: #696969;
$app-accent-color: #c77657;
$app-card-bg: #efdea9;
$app-title-color: #3d3d3d;
$app-error-color: #c0392b;
$app-error-bg: #fceae9;
$app-error-border: #e74c3c;
$app-info-color: #a3472c;
